body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:793px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:793px;
  display:flex;
}
#u7552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u7553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u7555 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u7555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7556 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:63px;
  width:168px;
  height:56px;
  display:flex;
  line-height:28px;
}
#u7556 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7556_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u7557 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:736px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u7557 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7557_img.mouseDown {
}
#u7557.mouseDown {
  opacity:0.7;
}
#u7557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9882352941176471);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7559 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:119px;
  width:335px;
  height:74px;
  display:flex;
}
#u7559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u7560 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:134px;
  width:44px;
  height:44px;
  display:flex;
}
#u7560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9882352941176471);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7561 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:134px;
  width:233px;
  height:14px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7561_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9882352941176471);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
}
#u7562 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:158px;
  width:46px;
  height:16px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.4px;
}
#u7562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7564 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:212px;
  width:335px;
  height:236px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7565 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:273px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7565_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u7566 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:273px;
  width:67px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:right;
}
#u7566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7566_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7567 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:232px;
  width:96px;
  height:18px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7567_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7568 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:301px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7569 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:302px;
  width:36px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7569_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F68C95;
  text-align:right;
}
#u7570 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:273px;
  width:24px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#F68C95;
  text-align:right;
}
#u7570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7571 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:328px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7572 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:329px;
  width:56px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7573 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:356px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7574 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:357px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7575 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:383px;
  width:49px;
  height:14px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7576 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:384px;
  width:48px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7576_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7577 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:410px;
  width:49px;
  height:14px;
  display:flex;
  font-size:12px;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
#u7577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7578 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:411px;
  width:112px;
  height:17px;
  display:flex;
  font-size:12px;
  text-align:justify;
  text-justify:inter-word;
}
#u7578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
