body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  display:flex;
}
#u2182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:710px;
  display:flex;
}
#u2183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u2184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:22px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:77px;
  width:93px;
  height:16px;
  display:flex;
}
#u2186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:107px;
  width:93px;
  height:16px;
  display:flex;
}
#u2187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:75px;
  width:209px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u2188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:107px;
  width:127px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u2189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:150px;
  width:93px;
  height:16px;
  display:flex;
}
#u2190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:136px;
  width:332px;
  height:1px;
  display:flex;
}
#u2191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:177px;
  width:93px;
  height:16px;
  display:flex;
}
#u2192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:204px;
  width:93px;
  height:16px;
  display:flex;
}
#u2193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:150px;
  width:93px;
  height:16px;
  display:flex;
}
#u2194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:177px;
  width:93px;
  height:16px;
  display:flex;
}
#u2195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:204px;
  width:261px;
  height:16px;
  display:flex;
}
#u2196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:233px;
  width:332px;
  height:1px;
  display:flex;
}
#u2197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:247px;
  width:93px;
  height:16px;
  display:flex;
}
#u2198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
