body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:719px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:719px;
  display:flex;
}
#u1606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u1607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u1609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:11px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:155px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:183px;
  width:335px;
  height:155px;
  display:flex;
  text-align:left;
}
#u1613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1613_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:155px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1613.selected {
}
#u1613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1614_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:136px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1614_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:136px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:rgba(204, 204, 204, 0.9882352941176471);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:192px;
  width:335px;
  height:136px;
  display:flex;
  font-size:14px;
}
#u1614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1614_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1614.hint {
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.9882352941176471);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:77px;
  width:104px;
  height:86px;
  display:flex;
}
#u1616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:111px;
  width:22px;
  height:20px;
  display:flex;
}
#u1617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:86px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:77px;
  width:104px;
  height:86px;
  display:flex;
}
#u1618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:595px;
  width:334px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u1619 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1619_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1619.mouseDown {
  opacity:0.7;
}
#u1619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
