body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1382px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:637px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1382px;
  height:637px;
  display:flex;
}
#u5035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:100px;
  display:flex;
}
#u5036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
  background:inherit;
  background-color:rgba(119, 164, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:36px;
  width:107px;
  height:31px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u5037 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:42px;
  width:111px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u5039 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#666666;
  text-align:right;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:42px;
  width:70px;
  height:19px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#666666;
  text-align:right;
}
#u5040 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#666666;
  text-align:right;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:42px;
  width:70px;
  height:19px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#666666;
  text-align:right;
}
#u5041 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:27px;
  width:100px;
  height:50px;
  display:flex;
}
#u5042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:119px;
  width:200px;
  height:35px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5043_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 247, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 247, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5043.mouseOver {
}
#u5043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:193px;
  width:200px;
  height:35px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5045_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 247, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 247, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5045.mouseOver {
}
#u5045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:228px;
  width:200px;
  height:35px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5046_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 247, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 247, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5046.mouseOver {
}
#u5046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:154px;
  width:200px;
  height:39px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u5048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:167px;
  width:18px;
  height:15px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:163px;
  width:22px;
  height:22px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:263px;
  width:200px;
  height:35px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5051_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 247, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 247, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5051.mouseOver {
}
#u5051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5053 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:298px;
  width:200px;
  height:39px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u5053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u5054 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:311px;
  width:18px;
  height:15px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:307px;
  width:22px;
  height:22px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:337px;
  width:200px;
  height:39px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u5057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:350px;
  width:18px;
  height:15px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:346px;
  width:22px;
  height:22px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5061 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:376px;
  width:200px;
  height:39px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u5061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u5062 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:389px;
  width:18px;
  height:15px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5063 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:385px;
  width:22px;
  height:22px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:599px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5064 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:119px;
  width:1136px;
  height:599px;
  display:flex;
}
#u5064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
