body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1268px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:746px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:0px;
  width:375px;
  height:746px;
  display:flex;
}
#u5995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:412px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:69px;
  width:415px;
  height:412px;
  display:flex;
}
#u5996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:746px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:746px;
  display:flex;
}
#u5997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u5998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:69px;
  width:102px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u5999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5999_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u5999.selected {
}
#u5999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:69px;
  width:102px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u6000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6000_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6000.selected {
}
#u6000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:69px;
  width:102px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u6002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u6002_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u6002.selected {
}
#u6002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:81px;
  width:11px;
  height:6px;
  display:flex;
}
#u6003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6003_img.selected {
}
#u6003.selected {
}
#u6003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:78px;
  width:12px;
  height:10px;
  display:flex;
}
#u6004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:293px;
  width:162px;
  height:24px;
  display:flex;
  line-height:24px;
}
#u6006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:346px;
  width:38px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u6007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:113px;
  width:162px;
  height:170px;
  display:flex;
}
#u6008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:349px;
  width:51px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u6009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6009_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:293px;
  width:162px;
  height:48px;
  display:flex;
  line-height:24px;
}
#u6011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:346px;
  width:38px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u6012 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6012_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:113px;
  width:162px;
  height:170px;
  display:flex;
}
#u6013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:349px;
  width:51px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u6014 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6014_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:558px;
  width:162px;
  height:24px;
  display:flex;
  line-height:24px;
}
#u6016 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:611px;
  width:38px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u6017 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:378px;
  width:162px;
  height:170px;
  display:flex;
}
#u6018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:614px;
  width:51px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u6019 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6019_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:558px;
  width:162px;
  height:48px;
  display:flex;
  line-height:24px;
}
#u6021 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u6022 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:611px;
  width:38px;
  height:22px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:rgba(217, 0, 27, 0.996078431372549);
}
#u6022 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6022_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u6023 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:378px;
  width:162px;
  height:170px;
  display:flex;
}
#u6023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u6024 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:614px;
  width:51px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u6024 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6024_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u6026 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u6026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6027 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:11px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u6027 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6027_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:362px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6028 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:101px;
  width:375px;
  height:362px;
  display:flex;
}
#u6028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u6029 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:121px;
  width:36px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u6029 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6029_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6030 label {
  left:0px;
  width:100%;
}
#u6030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u6030 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:164px;
  width:311px;
  height:15px;
  display:flex;
}
#u6030 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6030_img.selected {
}
#u6030.selected {
}
#u6030_img.disabled {
}
#u6030.disabled {
}
#u6030_img.selected.error {
}
#u6030.selected.error {
}
#u6030_img.selected.hint {
}
#u6030.selected.hint {
}
#u6030_img.selected.error.hint {
}
#u6030.selected.error.hint {
}
#u6030_img.mouseOver.selected {
}
#u6030.mouseOver.selected {
}
#u6030_img.mouseOver.selected.error {
}
#u6030.mouseOver.selected.error {
}
#u6030_img.mouseOver.selected.hint {
}
#u6030.mouseOver.selected.hint {
}
#u6030_img.mouseOver.selected.error.hint {
}
#u6030.mouseOver.selected.error.hint {
}
#u6030_img.mouseDown.selected {
}
#u6030.mouseDown.selected {
}
#u6030_img.mouseDown.selected.error {
}
#u6030.mouseDown.selected.error {
}
#u6030_img.mouseDown.selected.hint {
}
#u6030.mouseDown.selected.hint {
}
#u6030_img.mouseDown.selected.error.hint {
}
#u6030.mouseDown.selected.error.hint {
}
#u6030_img.mouseOver.mouseDown.selected {
}
#u6030.mouseOver.mouseDown.selected {
}
#u6030_img.mouseOver.mouseDown.selected.error {
}
#u6030.mouseOver.mouseDown.selected.error {
}
#u6030_img.mouseOver.mouseDown.selected.hint {
}
#u6030.mouseOver.mouseDown.selected.hint {
}
#u6030_img.mouseOver.mouseDown.selected.error.hint {
}
#u6030.mouseOver.mouseDown.selected.error.hint {
}
#u6030_img.focused.selected {
}
#u6030.focused.selected {
}
#u6030_img.focused.selected.error {
}
#u6030.focused.selected.error {
}
#u6030_img.focused.selected.hint {
}
#u6030.focused.selected.hint {
}
#u6030_img.focused.selected.error.hint {
}
#u6030.focused.selected.error.hint {
}
#u6030_img.selected.disabled {
}
#u6030.selected.disabled {
}
#u6030_img.selected.hint.disabled {
}
#u6030.selected.hint.disabled {
}
#u6030_img.selected.error.disabled {
}
#u6030.selected.error.disabled {
}
#u6030_img.selected.error.hint.disabled {
}
#u6030.selected.error.hint.disabled {
}
#u6030_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u6030_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6031 label {
  left:0px;
  width:100%;
}
#u6031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u6031 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:198px;
  width:311px;
  height:15px;
  display:flex;
}
#u6031 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6031_img.selected {
}
#u6031.selected {
}
#u6031_img.disabled {
}
#u6031.disabled {
}
#u6031_img.selected.error {
}
#u6031.selected.error {
}
#u6031_img.selected.hint {
}
#u6031.selected.hint {
}
#u6031_img.selected.error.hint {
}
#u6031.selected.error.hint {
}
#u6031_img.mouseOver.selected {
}
#u6031.mouseOver.selected {
}
#u6031_img.mouseOver.selected.error {
}
#u6031.mouseOver.selected.error {
}
#u6031_img.mouseOver.selected.hint {
}
#u6031.mouseOver.selected.hint {
}
#u6031_img.mouseOver.selected.error.hint {
}
#u6031.mouseOver.selected.error.hint {
}
#u6031_img.mouseDown.selected {
}
#u6031.mouseDown.selected {
}
#u6031_img.mouseDown.selected.error {
}
#u6031.mouseDown.selected.error {
}
#u6031_img.mouseDown.selected.hint {
}
#u6031.mouseDown.selected.hint {
}
#u6031_img.mouseDown.selected.error.hint {
}
#u6031.mouseDown.selected.error.hint {
}
#u6031_img.mouseOver.mouseDown.selected {
}
#u6031.mouseOver.mouseDown.selected {
}
#u6031_img.mouseOver.mouseDown.selected.error {
}
#u6031.mouseOver.mouseDown.selected.error {
}
#u6031_img.mouseOver.mouseDown.selected.hint {
}
#u6031.mouseOver.mouseDown.selected.hint {
}
#u6031_img.mouseOver.mouseDown.selected.error.hint {
}
#u6031.mouseOver.mouseDown.selected.error.hint {
}
#u6031_img.focused.selected {
}
#u6031.focused.selected {
}
#u6031_img.focused.selected.error {
}
#u6031.focused.selected.error {
}
#u6031_img.focused.selected.hint {
}
#u6031.focused.selected.hint {
}
#u6031_img.focused.selected.error.hint {
}
#u6031.focused.selected.error.hint {
}
#u6031_img.selected.disabled {
}
#u6031.selected.disabled {
}
#u6031_img.selected.hint.disabled {
}
#u6031.selected.hint.disabled {
}
#u6031_img.selected.error.disabled {
}
#u6031.selected.error.disabled {
}
#u6031_img.selected.error.hint.disabled {
}
#u6031.selected.error.hint.disabled {
}
#u6031_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u6031_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6032 label {
  left:0px;
  width:100%;
}
#u6032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u6032 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:233px;
  width:311px;
  height:15px;
  display:flex;
}
#u6032 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6032_img.selected {
}
#u6032.selected {
}
#u6032_img.disabled {
}
#u6032.disabled {
}
#u6032_img.selected.error {
}
#u6032.selected.error {
}
#u6032_img.selected.hint {
}
#u6032.selected.hint {
}
#u6032_img.selected.error.hint {
}
#u6032.selected.error.hint {
}
#u6032_img.mouseOver.selected {
}
#u6032.mouseOver.selected {
}
#u6032_img.mouseOver.selected.error {
}
#u6032.mouseOver.selected.error {
}
#u6032_img.mouseOver.selected.hint {
}
#u6032.mouseOver.selected.hint {
}
#u6032_img.mouseOver.selected.error.hint {
}
#u6032.mouseOver.selected.error.hint {
}
#u6032_img.mouseDown.selected {
}
#u6032.mouseDown.selected {
}
#u6032_img.mouseDown.selected.error {
}
#u6032.mouseDown.selected.error {
}
#u6032_img.mouseDown.selected.hint {
}
#u6032.mouseDown.selected.hint {
}
#u6032_img.mouseDown.selected.error.hint {
}
#u6032.mouseDown.selected.error.hint {
}
#u6032_img.mouseOver.mouseDown.selected {
}
#u6032.mouseOver.mouseDown.selected {
}
#u6032_img.mouseOver.mouseDown.selected.error {
}
#u6032.mouseOver.mouseDown.selected.error {
}
#u6032_img.mouseOver.mouseDown.selected.hint {
}
#u6032.mouseOver.mouseDown.selected.hint {
}
#u6032_img.mouseOver.mouseDown.selected.error.hint {
}
#u6032.mouseOver.mouseDown.selected.error.hint {
}
#u6032_img.focused.selected {
}
#u6032.focused.selected {
}
#u6032_img.focused.selected.error {
}
#u6032.focused.selected.error {
}
#u6032_img.focused.selected.hint {
}
#u6032.focused.selected.hint {
}
#u6032_img.focused.selected.error.hint {
}
#u6032.focused.selected.error.hint {
}
#u6032_img.selected.disabled {
}
#u6032.selected.disabled {
}
#u6032_img.selected.hint.disabled {
}
#u6032.selected.hint.disabled {
}
#u6032_img.selected.error.disabled {
}
#u6032.selected.error.disabled {
}
#u6032_img.selected.error.hint.disabled {
}
#u6032.selected.error.hint.disabled {
}
#u6032_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u6032_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6033 label {
  left:0px;
  width:100%;
}
#u6033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:275px;
  width:311px;
  height:15px;
  display:flex;
}
#u6033 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6033_img.selected {
}
#u6033.selected {
}
#u6033_img.disabled {
}
#u6033.disabled {
}
#u6033_img.selected.error {
}
#u6033.selected.error {
}
#u6033_img.selected.hint {
}
#u6033.selected.hint {
}
#u6033_img.selected.error.hint {
}
#u6033.selected.error.hint {
}
#u6033_img.mouseOver.selected {
}
#u6033.mouseOver.selected {
}
#u6033_img.mouseOver.selected.error {
}
#u6033.mouseOver.selected.error {
}
#u6033_img.mouseOver.selected.hint {
}
#u6033.mouseOver.selected.hint {
}
#u6033_img.mouseOver.selected.error.hint {
}
#u6033.mouseOver.selected.error.hint {
}
#u6033_img.mouseDown.selected {
}
#u6033.mouseDown.selected {
}
#u6033_img.mouseDown.selected.error {
}
#u6033.mouseDown.selected.error {
}
#u6033_img.mouseDown.selected.hint {
}
#u6033.mouseDown.selected.hint {
}
#u6033_img.mouseDown.selected.error.hint {
}
#u6033.mouseDown.selected.error.hint {
}
#u6033_img.mouseOver.mouseDown.selected {
}
#u6033.mouseOver.mouseDown.selected {
}
#u6033_img.mouseOver.mouseDown.selected.error {
}
#u6033.mouseOver.mouseDown.selected.error {
}
#u6033_img.mouseOver.mouseDown.selected.hint {
}
#u6033.mouseOver.mouseDown.selected.hint {
}
#u6033_img.mouseOver.mouseDown.selected.error.hint {
}
#u6033.mouseOver.mouseDown.selected.error.hint {
}
#u6033_img.focused.selected {
}
#u6033.focused.selected {
}
#u6033_img.focused.selected.error {
}
#u6033.focused.selected.error {
}
#u6033_img.focused.selected.hint {
}
#u6033.focused.selected.hint {
}
#u6033_img.focused.selected.error.hint {
}
#u6033.focused.selected.error.hint {
}
#u6033_img.selected.disabled {
}
#u6033.selected.disabled {
}
#u6033_img.selected.hint.disabled {
}
#u6033.selected.hint.disabled {
}
#u6033_img.selected.error.disabled {
}
#u6033.selected.error.disabled {
}
#u6033_img.selected.error.hint.disabled {
}
#u6033.selected.error.hint.disabled {
}
#u6033_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u6033_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6034 label {
  left:0px;
  width:100%;
}
#u6034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:310px;
  width:311px;
  height:15px;
  display:flex;
}
#u6034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6034_img.selected {
}
#u6034.selected {
}
#u6034_img.disabled {
}
#u6034.disabled {
}
#u6034_img.selected.error {
}
#u6034.selected.error {
}
#u6034_img.selected.hint {
}
#u6034.selected.hint {
}
#u6034_img.selected.error.hint {
}
#u6034.selected.error.hint {
}
#u6034_img.mouseOver.selected {
}
#u6034.mouseOver.selected {
}
#u6034_img.mouseOver.selected.error {
}
#u6034.mouseOver.selected.error {
}
#u6034_img.mouseOver.selected.hint {
}
#u6034.mouseOver.selected.hint {
}
#u6034_img.mouseOver.selected.error.hint {
}
#u6034.mouseOver.selected.error.hint {
}
#u6034_img.mouseDown.selected {
}
#u6034.mouseDown.selected {
}
#u6034_img.mouseDown.selected.error {
}
#u6034.mouseDown.selected.error {
}
#u6034_img.mouseDown.selected.hint {
}
#u6034.mouseDown.selected.hint {
}
#u6034_img.mouseDown.selected.error.hint {
}
#u6034.mouseDown.selected.error.hint {
}
#u6034_img.mouseOver.mouseDown.selected {
}
#u6034.mouseOver.mouseDown.selected {
}
#u6034_img.mouseOver.mouseDown.selected.error {
}
#u6034.mouseOver.mouseDown.selected.error {
}
#u6034_img.mouseOver.mouseDown.selected.hint {
}
#u6034.mouseOver.mouseDown.selected.hint {
}
#u6034_img.mouseOver.mouseDown.selected.error.hint {
}
#u6034.mouseOver.mouseDown.selected.error.hint {
}
#u6034_img.focused.selected {
}
#u6034.focused.selected {
}
#u6034_img.focused.selected.error {
}
#u6034.focused.selected.error {
}
#u6034_img.focused.selected.hint {
}
#u6034.focused.selected.hint {
}
#u6034_img.focused.selected.error.hint {
}
#u6034.focused.selected.error.hint {
}
#u6034_img.selected.disabled {
}
#u6034.selected.disabled {
}
#u6034_img.selected.hint.disabled {
}
#u6034.selected.hint.disabled {
}
#u6034_img.selected.error.disabled {
}
#u6034.selected.error.disabled {
}
#u6034_img.selected.error.hint.disabled {
}
#u6034.selected.error.hint.disabled {
}
#u6034_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:294px;
  word-wrap:break-word;
  text-transform:none;
}
#u6034_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:0px;
  width:375px;
  height:87px;
  display:flex;
}
#u6035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:56px;
  width:28px;
  height:16px;
  display:flex;
}
#u6036 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6036_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:53px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u6038 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6038_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:58px;
  width:14px;
  height:14px;
  display:flex;
}
#u6039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:146px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u6041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6041_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6041.selected {
}
#u6041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:146px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u6042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6042_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6042.selected {
}
#u6042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:146px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u6043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6043_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6043.selected {
}
#u6043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:146px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u6044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6044_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6044.selected {
}
#u6044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:194px;
  width:88px;
  height:36px;
  display:flex;
  color:#666666;
}
#u6045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6045_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6045.selected {
}
#u6045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:194px;
  width:88px;
  height:36px;
  display:flex;
  color:#666666;
}
#u6046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6046_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6046.selected {
}
#u6046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:113px;
  width:28px;
  height:16px;
  display:flex;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6047 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6047_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:194px;
  width:75px;
  height:36px;
  display:flex;
  color:#666666;
}
#u6048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6048_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(246, 140, 149, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 140, 149, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6048.selected {
}
#u6048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:662px;
  width:334px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6049 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6049_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6049.mouseDown {
  opacity:0.7;
}
#u6049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CECECE;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:651px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CECECE;
}
#u6050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6050_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:652px;
  width:14px;
  height:14px;
  display:flex;
}
#u6051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
