body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:762px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:697px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:697px;
  display:flex;
}
#u5041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:637px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:637px;
  display:flex;
}
#u5042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u5043 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:22px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u5044 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:70px;
  width:344px;
  height:88px;
  display:flex;
}
#u5045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:167px;
  width:344px;
  height:34px;
  display:flex;
  font-size:18px;
}
#u5046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:215px;
  width:344px;
  height:211px;
  display:flex;
}
#u5047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:226px;
  width:114px;
  height:16px;
  display:flex;
}
#u5048 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:250px;
  width:324px;
  height:158px;
  display:flex;
}
#u5049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:454px;
  width:140px;
  height:40px;
  display:flex;
}
#u5050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:174px;
  width:370px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5051 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5052 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:405px;
  width:370px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5053 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:80px;
  width:325px;
  height:68px;
}
#u5054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u5054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  display:flex;
}
#u5054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:69px;
  height:34px;
  display:flex;
}
#u5055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:0px;
  width:68px;
  height:34px;
  display:flex;
}
#u5056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:75px;
  height:34px;
  display:flex;
}
#u5057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:113px;
  height:34px;
  display:flex;
}
#u5058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:34px;
  width:69px;
  height:34px;
  display:flex;
}
#u5059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:34px;
  width:68px;
  height:34px;
  display:flex;
}
#u5060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u5061 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:34px;
  width:75px;
  height:34px;
  display:flex;
}
#u5061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
