body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71px;
  width:977px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:41px;
  width:370px;
  height:347px;
  display:flex;
}
#u805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:55px;
  width:13px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u806_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:60px;
  width:242px;
  height:16px;
  display:flex;
}
#u807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:89px;
  width:346px;
  height:167px;
  display:flex;
  font-size:16px;
}
#u808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:113px;
  width:346px;
  height:105px;
  display:flex;
}
#u809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:338px;
  width:140px;
  height:29px;
  display:flex;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u812 label {
  left:0px;
  width:100%;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u812_img.selected {
}
#u812.selected {
}
#u812_img.disabled {
}
#u812.disabled {
}
#u812_img.selected.error {
}
#u812.selected.error {
}
#u812_img.selected.hint {
}
#u812.selected.hint {
}
#u812_img.selected.error.hint {
}
#u812.selected.error.hint {
}
#u812_img.mouseOver.selected {
}
#u812.mouseOver.selected {
}
#u812_img.mouseOver.selected.error {
}
#u812.mouseOver.selected.error {
}
#u812_img.mouseOver.selected.hint {
}
#u812.mouseOver.selected.hint {
}
#u812_img.mouseOver.selected.error.hint {
}
#u812.mouseOver.selected.error.hint {
}
#u812_img.mouseDown.selected {
}
#u812.mouseDown.selected {
}
#u812_img.mouseDown.selected.error {
}
#u812.mouseDown.selected.error {
}
#u812_img.mouseDown.selected.hint {
}
#u812.mouseDown.selected.hint {
}
#u812_img.mouseDown.selected.error.hint {
}
#u812.mouseDown.selected.error.hint {
}
#u812_img.mouseOver.mouseDown.selected {
}
#u812.mouseOver.mouseDown.selected {
}
#u812_img.mouseOver.mouseDown.selected.error {
}
#u812.mouseOver.mouseDown.selected.error {
}
#u812_img.mouseOver.mouseDown.selected.hint {
}
#u812.mouseOver.mouseDown.selected.hint {
}
#u812_img.mouseOver.mouseDown.selected.error.hint {
}
#u812.mouseOver.mouseDown.selected.error.hint {
}
#u812_img.focused.selected {
}
#u812.focused.selected {
}
#u812_img.focused.selected.error {
}
#u812.focused.selected.error {
}
#u812_img.focused.selected.hint {
}
#u812.focused.selected.hint {
}
#u812_img.focused.selected.error.hint {
}
#u812.focused.selected.error.hint {
}
#u812_img.selected.disabled {
}
#u812.selected.disabled {
}
#u812_img.selected.hint.disabled {
}
#u812.selected.hint.disabled {
}
#u812_img.selected.error.disabled {
}
#u812.selected.error.disabled {
}
#u812_img.selected.error.hint.disabled {
}
#u812.selected.error.hint.disabled {
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u812_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u813 label {
  left:0px;
  width:100%;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:281px;
  width:140px;
  height:15px;
  display:flex;
}
#u813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u813_img.selected {
}
#u813.selected {
}
#u813_img.disabled {
}
#u813.disabled {
}
#u813_img.selected.error {
}
#u813.selected.error {
}
#u813_img.selected.hint {
}
#u813.selected.hint {
}
#u813_img.selected.error.hint {
}
#u813.selected.error.hint {
}
#u813_img.mouseOver.selected {
}
#u813.mouseOver.selected {
}
#u813_img.mouseOver.selected.error {
}
#u813.mouseOver.selected.error {
}
#u813_img.mouseOver.selected.hint {
}
#u813.mouseOver.selected.hint {
}
#u813_img.mouseOver.selected.error.hint {
}
#u813.mouseOver.selected.error.hint {
}
#u813_img.mouseDown.selected {
}
#u813.mouseDown.selected {
}
#u813_img.mouseDown.selected.error {
}
#u813.mouseDown.selected.error {
}
#u813_img.mouseDown.selected.hint {
}
#u813.mouseDown.selected.hint {
}
#u813_img.mouseDown.selected.error.hint {
}
#u813.mouseDown.selected.error.hint {
}
#u813_img.mouseOver.mouseDown.selected {
}
#u813.mouseOver.mouseDown.selected {
}
#u813_img.mouseOver.mouseDown.selected.error {
}
#u813.mouseOver.mouseDown.selected.error {
}
#u813_img.mouseOver.mouseDown.selected.hint {
}
#u813.mouseOver.mouseDown.selected.hint {
}
#u813_img.mouseOver.mouseDown.selected.error.hint {
}
#u813.mouseOver.mouseDown.selected.error.hint {
}
#u813_img.focused.selected {
}
#u813.focused.selected {
}
#u813_img.focused.selected.error {
}
#u813.focused.selected.error {
}
#u813_img.focused.selected.hint {
}
#u813.focused.selected.hint {
}
#u813_img.focused.selected.error.hint {
}
#u813.focused.selected.error.hint {
}
#u813_img.selected.disabled {
}
#u813.selected.disabled {
}
#u813_img.selected.hint.disabled {
}
#u813.selected.hint.disabled {
}
#u813_img.selected.error.disabled {
}
#u813.selected.error.disabled {
}
#u813_img.selected.error.hint.disabled {
}
#u813.selected.error.hint.disabled {
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:123px;
  word-wrap:break-word;
  text-transform:none;
}
#u813_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:513px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:11px;
  width:552px;
  height:513px;
  display:flex;
}
#u814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
