body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  display:flex;
}
#u7054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:710px;
  display:flex;
}
#u7055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:95px;
  height:16px;
  display:flex;
}
#u7056 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:22px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u7057 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:77px;
  width:114px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7059_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:51px;
  height:5px;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:107px;
  width:48px;
  height:2px;
  display:flex;
}
#u7059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:77px;
  width:93px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7060 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:118px;
  width:343px;
  height:131px;
  display:flex;
}
#u7061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:127px;
  width:168px;
  height:16px;
  display:flex;
}
#u7062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:124px;
  width:58px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u7063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:2px;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:149px;
  width:322px;
  height:1px;
  display:flex;
}
#u7064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:159px;
  width:144px;
  height:16px;
  display:flex;
}
#u7065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:184px;
  width:233px;
  height:16px;
  display:flex;
}
#u7066 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:159px;
  width:144px;
  height:16px;
  display:flex;
}
#u7067 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7068 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:215px;
  width:121px;
  height:16px;
  display:flex;
  text-align:right;
}
#u7068 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:258px;
  width:343px;
  height:131px;
  display:flex;
}
#u7069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:267px;
  width:168px;
  height:16px;
  display:flex;
}
#u7070 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7071 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:264px;
  width:58px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u7071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:2px;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:289px;
  width:322px;
  height:1px;
  display:flex;
}
#u7072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7073 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:299px;
  width:144px;
  height:16px;
  display:flex;
}
#u7073 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7074 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:324px;
  width:233px;
  height:16px;
  display:flex;
}
#u7074 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7075 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:299px;
  width:144px;
  height:16px;
  display:flex;
}
#u7075 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7076 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:355px;
  width:121px;
  height:16px;
  display:flex;
  text-align:right;
}
#u7076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7077 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:349px;
  width:233px;
  height:16px;
  display:flex;
}
#u7077 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
