body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1070px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1070px;
  height:108px;
}
#u5591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  display:flex;
}
#u5591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:175px;
  height:30px;
  display:flex;
}
#u5592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:0px;
  width:430px;
  height:30px;
  display:flex;
}
#u5593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
}
#u5594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
}
#u5595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:144px;
  height:39px;
  display:flex;
}
#u5596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:30px;
  width:175px;
  height:39px;
  display:flex;
}
#u5597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:30px;
  width:430px;
  height:39px;
  display:flex;
}
#u5598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:30px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:30px;
  width:183px;
  height:39px;
  display:flex;
}
#u5600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:144px;
  height:39px;
  display:flex;
}
#u5601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:69px;
  width:175px;
  height:39px;
  display:flex;
}
#u5602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:39px;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:69px;
  width:430px;
  height:39px;
  display:flex;
}
#u5603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:69px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:69px;
  width:183px;
  height:39px;
  display:flex;
}
#u5605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:31px;
  width:118px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5607 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5607_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(37, 97, 239, 0.8);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5607.mouseOver {
}
#u5607_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5607.mouseDown {
}
#u5607_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u5607.mouseOver.mouseDown {
}
#u5607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:42px;
  width:14px;
  height:14px;
  display:flex;
}
#u5608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
